/* colors nav and footer- #002458 cards  */

/* navbar styling  */
#navbar {
  background-color: #002558;
  position:sticky;
}

a.nav-link{
  color:whitesmoke;
}

header nav ul li a:hover {
  text-shadow: 0 0 20px white;
}

.fa-bars:before {
  content: "\f0c9";
  color: white;
}

/* body styling */

body p {
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

body {
  background-color: #002458;
}

span {
  color:#254f8f;

}
/* name */
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-shadow:0px 0px 1 grey;
  color: white;

}


h3 {
  color: white;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  text-shadow: 0px 0px 5px 5white;
}


h5 {
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}




#projects {
  color:whitesmoke
}

#languages-icons {
  color:white;
}
.card {
  background-color:#0a356f;
  border-radius: 5px;
  box-shadow: 0 0 1px whitesmoke;
  align-items: stretch;
  justify-content: center ;
}

footer{
  background-color: #002558
}

#footer-text{
  color:white;
  background-color: #002558;
}

.copyright {
  color:white;
}

#jumbo {
      min-height: 900px;
      background-attachment: fixed;
      background-position: cover;
      background-repeat: no-repeat;
      background-size: cover;
} 
    
    
    
    /* Default height for small devices */
    #jumbo {
      height: 400px;
    }

    /* Height for devices larger than 992px */
    @media (min-width: 992px) {
      #jumbo {
        height: 600px;
      }
    }