/* colors nav and footer- #002458 cards  */
/* navbar styling  */
#navbar {
  background-color: #002558;
  position:sticky;
}

a.nav-link{
  color:whitesmoke;
}

header nav ul li a:hover {
  text-shadow: 0 0 20px white;
}

.fa-bars:before {
  content: "\f0c9";
  color: white;
}

/* body styling */
body p {
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: center;
}

body {
  background-color: #002458;
}

.btn {
  font-weight:normal;
  letter-spacing: 1.25px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;

}

span {
  color:#254f8f;

}

/* name */
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-shadow:0px 0px 1 grey;
  color: white;

}

h3 {
  color: white;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  text-shadow: 0px 0px 5px 5white;
}

h5 {
 
  font-family: 'Roboto', sans-serif;
}

#projects {
  color:whitesmoke
}

#languages-icons {
  color:white;
}
.card {
  background-color:#0a366fc4;
  border-radius: 5px;
  box-shadow: 0 0 1px whitesmoke;
  align-items: stretch;
  justify-content: center ;
}

.card-title {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;

}

.card-text {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  letter-spacing: 1.5px;
  font-size: 12px;
}

footer{
  background-color: #002558
}

#footer-text{
  color:white;
  background-color: #002558;
}

#footer-color {
  background-color: #002558;
}

.copyright {
  color:white;
}

#jumbo {
      min-height: 900px;
      max-width: 100%;
      min-width: 100%;
      background-attachment: fixed;
      background-position: cover;
      background-repeat: no-repeat;
      background-size: cover;
} 

.my-image {
  width: 40%;
  height: auto;
}
    
@media (min-width: 992px) {
  #jumbo {
  height: 600px;
  }
}

@media (min-width: 992px) {
  #jumbo {
  height: 400px;
  }
  #navbar {
    background-color: #002558;
    }
    footer {
      
      background-color: #002558;
    }
}

@media (min-width: 600px) {
  #navbar {
  background-color: #002558;
  }
  footer {
    
    background-color: #002558;
  }
}