/* colors nav and footer- #002458 cards  */


.navbar {
  background-color: #002458;
}

a.nav-link{
  color:whitesmoke;
}

header nav ul li a:hover {
  text-shadow: 0 0 20px white;
}

.fa-bars:before {
  content: "\f0c9";
  color: white;
}

h3 {
  color: white;
}

 main p {
  color: whitesmoke;
}

body {
  background-color: #2964A6;
}

#languages-icons {
  color:white;
}


footer #footer-background {
  background-color: #002458;
}


#jumbo {
      min-height: 500px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    } 
    
    
    
    /* Default height for small devices */
    #jumbo {
      height: 400px;
    }

    /* Height for devices larger than 992px */
    @media (min-width: 992px) {
      #jumbo {
        height: 600px;
      }
    }